# Local .terraform directories
**/.terraform/*

# Terraform plan output
*.tfplan

# State files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Override files (sometimes used for local changes)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable definitions files (if they contain secrets)
*.tfvars
*.tfvars.json

# Sensitive files
*.pem
*.key
*.crt

# IDE or Editor specific files (optional, adjust to your editor)
.vscode/
.idea/
*.swp
*.swo

# MacOS specific
.DS_Store
